.container {
  width: 100%;
  height: 100%;
}

.bottomInnerContainer {
  width: 50%;
  height: 70%;
}

.topBar {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topBarBold {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topBarBoldContent {
  text-align: center;
  width: 100%;
  height: 50%;
  background-color: #fff;
  font-size: x-large;
  font-weight: 500;
}

.topBarContent {
  text-align: center;
  width: 100%;
  height: 50%;
  color: rgb(209, 209, 209);
}

.bottomInnerContainer {
  width: 100%;
  height: 80%;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomInnerContent {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottomInnerWrapper {
  width: 100%;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomInnerOne {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomInnerOneContent {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 1px solid;
  border-color: rgb(209, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ba0ab;
}

.bottomInnerOneInner {
  width: 90%;
  height: 100;
  text-align: left;
}

.bottomInnerOneContentSelected {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 1px solid;
  border-color: #5a4ad1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ba0ab;
}

.bottomInnerTwo {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomInnerOneInner,
.bottomInnerTwoInner h4 {
  color: #000;
}

.bottomInnerTwoContent {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 1px solid;
  border-color: rgb(209, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ba0ab;
}

.bottomInnerTwoInner {
  width: 90%;
  height: 100;
  text-align: left;
  background-color: coral;
}

.bottomInnerTwoContentSelected {
  width: 90%;
  height: 100%;

  border: 1px solid;
  border-color: #5a4ad1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ba0ab;
}

.inputContainerOne {
  text-align: left;
  width: 80%;
  height: 30%;
  display: flex;

  flex-direction: column;
}

.inputContainerTwo {
  margin-top: 10px;
  text-align: left;
  width: 80%;
  height: 30%;
  display: flex;

  flex-direction: column;
}

.inputs {
  height: 50px;
  border: 1px solid;
  border-color: rgb(209, 209, 209);
  border-radius: 5px;
  color: rgb(149, 147, 147);
}

.btnStyle {
  margin-top: 20px;
  height: 50px;
  border: 1px solid;
  border-color: #847cc6;
  background-color: #5a4ad1;
  color: #fff;
  border-radius: 5px;
}
